[Desktop Entry]
Name=Lera-Forest
X-KDE-PluginInfo-Author=Valeria Fadeeva
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=valeria@fadeeva.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=AGPLv3
X-KDE-PluginInfo-Name=LeraForest-dark
X-KDE-PluginInfo-Version=1.0
