[Desktop Entry]
Name=Lost Ark
X-KDE-PluginInfo-Name=Lost Ark
X-KDE-PluginInfo-Author=Valeria Fadeeva
X-KDE-PluginInfo-Email=valeria@fadeeva.me
X-KDE-PluginInfo-License=AGPLv3
