[Desktop Entry]
Name=Lera Forest
X-KDE-PluginInfo-Name=Lera Forest
X-KDE-PluginInfo-Author=Valeria Fadeeva
X-KDE-PluginInfo-Email=valeria@fadeeva.me
X-KDE-PluginInfo-License=AGPLv3
