[Desktop Entry]
Name=Anime Scenery
X-KDE-PluginInfo-Name=Anime Scenery
X-KDE-PluginInfo-Author=Valeria Fadeeva
X-KDE-PluginInfo-Email=valeria@fadeeva.me
X-KDE-PluginInfo-License=AGPLv3
