[Desktop Entry]
Name=Lost Ark
Comment=Lost Ark
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Valeria Fadeeva
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=valeria@fadeeva.me
X-KDE-PluginInfo-License=AGPLv3
X-KDE-PluginInfo-Name=com.github.lost-ark.desktop
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/Valeria-Fadeeva
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-KPackage-Dependencies=
X-Plasma-MainScript=defaults
